[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}



//====================================//
//== Navigation Styles              ==//
//====================================//

#topnav {
  z-index: 10;
  position: fixed;
  top: 0;
  transition: background-color 375ms ease-in-out;
}
#topnav.transparent {
  background: transparent; }

#masthead {
  min-height: 256px;
  background: red;
}



//====================================//
//== Comment Tpl                    ==//
//====================================//